@charset "UTF-8";

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Make the body take up at least the full height of the viewport */
    font-family: Palatino, "Palatino Linotype", Baskerville, "Century Schoolbook L", "Times New Roman", serif;
    background-color: #FFFFFF;
    text-align: center;
    color: #5A5A5A;
    margin: 0;
}

a {
    text-decoration: none;
    color: #5A5A5A;
}

/* Header */
header {
    margin-bottom: 40px;
    background-color: #FAFAFA;
}

.logo {
    padding: 80px 0 40px 0;
    letter-spacing: 4px;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.tagline {
    font-size: 16px;
}

#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Menu */
.menu {
    padding: 5px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    padding: 8px 20px;
    margin: 0 20px;
}

.menu ul li a {
    font-size: 16px;
}

.menu ul li.active {
    background-color: #F0F0F0;
    border-radius: 5px;
}

.menu ul li a:hover {
    color: #7D7D7D
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.thumbnail {
    width: 27%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thumbnail img {
    width: 100%;
    border-radius: 5px;
}

.thumbnail h4,
.thumbnail h5 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 20px 0;
}

.thumbnail h5 {
    font-size: 14px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.item,
h2 {
    flex: 1;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 20px 20px;
}

.item img,
.item span {
    vertical-align: middle;
    margin: 0 5px;
}

h2 {
    flex: 0;
    margin-bottom: 40px;
}

/* Diary Section */
.diary-container {
    text-align: left;
    align-self: center;
    width: 80%;
    max-width: 960px;
    margin-bottom: 20px;
}

.post-preview {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.post-thumbnail {
    flex: 0 0 400px;
    margin: 20px 40px;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-info {
    flex: 1;
}

.post-title {
    font-size: 18px;
    margin: 10px 0;
}

.post-date {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
    align-self: flex-start
}

.post-text {
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
}

.post-button {
    text-align: center;
    padding: 8px 16px;
    background-color: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.post-button:hover {
    background-color: #5A5A5A;
}

.post-info .post-button {
    display: block;
    float: right;
}

.post-separator {
    border-top: 1px solid #DDD;
    margin: 40px 0;
}

.post-image img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.diary-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diary-post .post-button {
    display: inline-block;
}

/* About Section */
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-image {
    flex: 0 0 auto;
    margin: 0 20px;
}

.about-image img {
    border-radius: 100%;
    max-width: 400px;
}

.about-text {
    flex: 1 1 auto;
    text-align: justify;
    line-height: 1.6;
    margin: 0 20px;
    max-width: 800px;
}

/* Footer Section */
footer {
    background-color: #FAFAFA;
    margin-top: auto;
    /* Push the footer to the bottom */
    padding: 20px 0;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    padding: 0 10px;
}

.social-links li a {
    display: block;
    width: 30px;
    height: 30px;
}

.social-links li img {
    width: 100%;
    height: 100%;
}

.copyright {
    color: #6C6C6C;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 20px 0;
}

/* Mobile */
@media (max-width: 480px) {
    .menu {
        padding-top: 0;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        display: block;
        width: 30%;
        padding: 10px 0;
        margin: 0;
    }

    .item {
        flex-basis: 100%;
        /* Make each item take up the full width on small screens */
        margin-bottom: 10px;
        /* Add spacing between the wrapped items */
    }
}

/* Mobile & Small Tablets */
@media (max-width: 768px) {
    header {
        margin-bottom: 20px;
    }

    h1 {
        margin-top: 0;
    }

    h2 {
        margin-bottom: 20px;
    }

    .thumbnail {
        width: 80%;
    }

    .diary-container {
        width: 80%;
    }

    .post-preview {
        display: block;
    }

    .post-thumbnail {
        margin: 20px 0;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    /* .post-date {
        align-self: center;
    } */

    .about-container {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about-image {
        margin: 20px 0;
    }

    .about-image img {
        max-width: 200px;
    }

    .about-text {
        max-width: 90%;
        margin: 0 40px;
    }
}

/* Small Tablets */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Small Desktops */
@media (min-width: 769px) and (max-width: 1199px) {
    .post-thumbnail {
        flex-basis: 300px;
    }

    .about-container {
        max-width: 100%;
        margin: 0 40px;
    }

    .about-image img {
        max-width: 200px;
    }
}